html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	background-image: url("../image/james-pond-185593-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: lato;
	color: white;
}

#intro {
	text-align: center;
	padding-top: 13%;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

h1 {
	font-weight: 450;
	font-size: 4.5em;
}

h3 {
	font-weight: 450;
}

hr {
	width: 400px;
	border-top: 1px solid white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.button {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 1.25em;
	padding: 10px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%);
	background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%);
	background: -o-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%);
	background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%);
	background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%);
	-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.34);
	-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.34);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.34);
}

#contact {
	text-align: center;
	bottom: 5px;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
